.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 31, 31);
  
}
input{
  width: 30vw;
  height: 30px;
}
.listContainer{
  width: 100vw;
  margin: 10px;
}
.listData{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

